.bg-blue {
    background-color: #2c629c;
    color: #fff;
}

.wrapper {
    display: block;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #fafafa;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fafafa;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.menu-side {
    cursor: pointer;
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.divisor {
    width: 1px;
    height: 10px;
    background: #ddd;
}

.nav-top li a {
    font-size: 18px;
    padding: 5px 8px 10px 8px;
    letter-spacing: -0.75px;
}

.globo {
    color: #0669de;
}

.globo:hover {
    color: #0669de;
    border-top: 2px solid #0669de;
}

.g1 {
    color: #a80000;
}

.g1:hover {
    color: #a80000;
    border-top: 2px solid #a80000;
}

.globoesporte {
    color: #3e831e;
}

.globoesporte:hover {
    color: #3e831e;
    border-top: 2px solid #3e831e;
}

.gshow {
    color: #ff7f00;
}

.gshow:hover {
    color: #ff7f00;
    border-top: 2px solid #ff7f00;
}

.videos {
    color: #005cef;
}

.videos:hover {
    color: #005cef;
    border-top: 2px solid #005cef;
}

.dotted {
    height: 20px;
    border-width: 0.3px;
    border-style: dotted;
    border-color: #fff;
}

.gray {
    background-color: #f3f3f3;
}

.buscar {
    background-color: rgba(0,0,0,.15);
    border-radius: 0px 4px 4px 0px;
    border: none;
    width: 129px !important;
    transition-duration: .5s;
    transition-property: width;
    height: 25px;
    font-size: 14px;
    color: #fff;
}

.lupa {
    background-color: rgba(0,0,0,.15);
    border-radius: 4px 0px 0px 4px;
    color: #fff;
    height: 25px;
    border: none;
}

.titulo {
    font-size: 55px;
    font-weight: bold;
}

.facebook {
    color: #32529f;
}

.twitter {
    color: #1da1f2;
}

.whatsapp {
    color: #25d366;
}

.linkedin {
    color: #0077b5;
}

.pinterest {
    color: #e60023;
}